@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/atropos/atropos.css";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppings-Light.ttf");
  font-style: medium;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppings-Regular.ttf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppings-Bold.ttf");
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppings-ExtraBold.ttf");
  font-style: medium;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Staatliches";
  src: url("/fonts/Staatliches-Regular.ttf");
  font-style: medium;
  font-weight: 900;
  font-display: swap;
}

@layer components {
  .menu-item {
    @apply cursor-pointer py-1 px-4 
               transition transform duration-100;
  }

  .input-field {
    @apply focus:outline-yellow bg-[#1d1d24] px-5 py-3 rounded-lg w-full text-white;
  }

  .form-error {
    @apply;
  }

  .logo {
    @apply w-full h-full text-yellow group-hover:text-gray;
  }
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
}

body {
  background: rgb(22, 24, 22);
}
